body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(240, 240, 240);
}

/* Barre de navigation */
nav {
    background-color: rgb(30, 30, 30);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px rgb(50, 50, 50);
}

.nav-left {
    width: 300px;
    padding-left: 15px;
}

.nav-center ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.nav-center ul li {
    margin-right: 10px;
    margin-left: 10px;
}

.nav-center ul li a {
    text-decoration: none;
    color: lightgrey;
    font-weight: bold;
    font-size: 16px;
}

.nav-center ul li a:hover {
    color: grey;
}

.nav-right{
    display: flex;
    justify-content: right;
    width: 300px;
}

.utilisateur-info{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-right a{
    text-decoration: none;
    color: lightgrey;
}

.nav-right a:hover{
    color: grey;
}

/* utilisation de uiverse.io pour le design du bouton */
.utilisateur-info button{
    padding: 5px 15px;
    margin-left: 15px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: lightgrey;
    position: relative;
    font-weight: 700;
    font-size: 16px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.utilisateur-info button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
}

.utilisateur-info button:hover {
    color: lightgrey;
}
   
.utilisateur-info button:hover::before {
    width: 100%;
}

span{
    color: lightgrey;
}